* {
    padding: 0;
    margin: 0;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: rgba(87, 196, 217, 1);
}

.first-title {
    font-size: 25px;
    margin-top: 90px;
    width: 100%;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.logincontainer {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 800px;
}

.inloggen {
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.inloggen-title {
    color: rgb(0, 0, 0);
    font-size: 32px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form input {
    border-radius: 20px;
    margin-top: 30px;
    text-align: center;
    border: 6px solid black;
    font-size: 20px;
    height: 60px;
    width: 100%;
    max-width: 400px;
}

form input[type="submit"] {
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 50%;
    max-width: 200px;
    background-color: rgba(4, 238, 126, 1);
    transition: transform 0.3s;
    color: white;
}

form input[type="submit"]:hover {
    transform: scale(1.2);
    background-color: rgb(0, 182, 94);
}

@media only screen and (max-width: 768px) {
    .first-title {
        font-size: 20px;
        margin-top: 50px;
    }
    .logincontainer {
        margin-bottom: 50px;
    }
    form input {
        font-size: 18px;
        margin-top: 20px;
        height: 50px;
    }
    form input[type="submit"] {
        height: 40px;
    }
}
