* {
    padding: 0;
    margin: 0;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

body {
    background-color: rgba(87, 196, 217, 1);
}

nav {
    padding: 25px;
}

.verlaat-beheer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 140px;
    margin-bottom: 100px;
    background-color: rgba(0, 148, 255, 1);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.verlaat-beheer-button a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.verlaat-beheer-button:hover {
    background-color: rgba(0, 148, 255, 1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    max-width: 100vw;
    gap: 20px;
}

.adminsidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 40px;
    height: 100vh;
    width: 400px;
    position: fixed;
    left: 0;
    overflow: auto;
}

.admin-elementcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 250px;
    background-color: rgba(0, 148, 255, 1);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.admin-elementcontainer h1 {
    font-size: 30px;
    color: white;
}

form input {
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: rgba(0, 148, 255, 1);
    margin-bottom: 40px;
    width: 100%;
}
.admin-elementcontainer button:hover {
    background-color: rgba(0, 128, 230, 1);
    transform: translateY(-3px);
}

.admin-elementcontainer:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
form input[type="submit"] {
    background-color: red;
}
.adminelementen {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#formtoevoegen{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: white;
    border-radius: 10px;
}
#formtoevoegen h1{
    display: flex;
    justify-content: center;
}
#formtoevoegen input{
    width: 95%;
    height: 70px;
    margin: 10px;
    background-color: rgba(0, 148, 255, 1);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}
.aanpassenelementen{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 400px;
    gap: 20px;
    width: 100%;
}
#formaanpassen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: white;
    border-radius: 10px;
}
#formaanpassen input{
    width: 95%;
    height: 70px;
    margin: 10px;
    background-color: rgba(0, 148, 255, 1);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}
#formaanpassen h1{
    display: flex;
    justify-content: center;
}
#formverwijderen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 480px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}
.verwijderenelementen{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 400px;
    gap: 20px;
    width: 100%;
}
#formverwijderen input{
    width: 95%;
    height: 70px;
    margin: 10px;
    background-color: rgba(0, 148, 255, 1);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}
.uitloggenverlaatbeheer{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
#formaccounts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 480px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}
.accountselementen{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 400px;
    gap: 20px;
    width: 100%;
}
#formaccounts input{
    width: 95%;
    height: 70px;
    margin: 10px;
    background-color: rgba(0, 148, 255, 1);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}
#clickable{
    cursor: pointer;
}
.elementomtitel{
    height: 30px;
    width: 200px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
    margin-left: 140px;
}
#formreviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 480px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}
.reviewselementen{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 400px;
    gap: 20px;
    width: 100%;
}
#formreviews input{
    width: 95%;
    height: 70px;
    margin: 10px;
    background-color: rgba(0, 148, 255, 1);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}